@model IdealMall.Entities.TradeUser
@{
    ViewBag.Title = "Trade Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Deal Z Local</title>
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon" />
    <link href="../../Content/reset.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="../../Content/colorbox.css" type="text/css" media="all" />

    <script src="@Url.Content("../../Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("../../Scripts/jquery-ui.min.js")" type="text/javascript"></script>

    <!--[if IE]>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="all" />
<![endif]-->
</head>

<body>
    <img id="loading" src='../../images/loader.gif' style="position: absolute; top: 50%; left: 50%; display: none;" />
    <!----Header --------------->
    <div class="headerbg">
        <div class="pagewidth">
            <div class="logo"><a href="index.html" title="Deal Z Local"><span>Deal Z Local Logo</span></a></div>
            <div class="submenu">@Html.ActionLink("Home", "Index", "home")<span>|</span>@Html.ActionLink("Contact Us", "ContactUsIndex", "Trade")</div>
        </div>
    </div>
    <!----Header ends--------------->
  
    <!----Form starts--------------->
    <div class="pagewidthinner ">
        <div class="formbox clearfix">
            <div class="forgotpwdbox">
                <h1>Forgotten your password?</h1>
                <p>Don't worry! Enter your trade login username below and we will send you an email that will enable you to restore access to your account.</p>

                <div class="txtbox">
                    <input type="text" class="jq_watermark" placeholder="Trade User Name" name="txtUserId" id="txtUserId" />
                </div>

                <div class="sbmtbtn clearfix">
                    <input type="submit" value="Send Mail" class="sendmail" onclick="ForgortPassword();" />
                </div>
            </div>
        </div>
    </div>
    <!----Form ends--------------->
    <!----Footer Starts--------------->
    <div class="footerbg clearfix">
        <div class="pagewidthinner ">
            <div class="copyright">
                <div class="powered">Powered by</div>
                <a href="javascript:void(0);" title="Deal Z Local" class="footerlogo"></a><span>&copy; 2015</span><span>|</span><a href="javascript:void(0);">Privacy Policy.</a><span>All Rights Reserved.</span>
            </div>
            <div class="linestr"></div>
             <div class="footermenus">
                <p>@Html.ActionLink("Trade Customer Login", "TradeLogin", "Trade")</p>
                <p>@Html.ActionLink("Sign Up", "TradeSignIn", "Trade")</p>
                <p><a href="javascript:void(0);">Price Promise</a></p>
                <p><a href="javascript:void(0);">Privacy Policy T&amp;Cs</a></p>
            </div>
            <div class="linestr"></div>
            <div class="footermenus">
                <p class="loginbox-p">@Html.ActionLink("Public Customer Login", "LoginIndex", "home")</p>
                @*   <p><a href="javascript:void(0);" class="tradelogin">Trade Customer Login</a></p>*@
                <p><a href="javascript:void(0);">How do we use</a></p>
                <p><a href="javascript:void(0);">Contact us</a></p>
                <p><a href="javascript:void(0);">FAQs</a></p>
                <p><a href="javascript:void(0);">Mobile Apps</a></p>
            </div>
        </div>
    </div>

    <!----Footer Ends--------------->
    <script type="text/javascript" src="../../Scripts/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.bxSlider.js"></script>
    <script type="text/javascript" src="../../Scripts/custom-form-elements.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.watermark.min.js"></script>
    <script src="../../Scripts/common.js" type="text/javascript"></script>
</body>

</html>
<script language="Javascript">

    function ForgortPassword() {
        $("#loading").css("display", "block");

        var userid = $("#txtUserId").val();
        if (userid == "") {
            alert("Please enter the trade username.");
            $("#loading").css("display", "none");
            return false;
        }
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: "@(Url.Action("ForgotPassword", "Trade"))",
            data: { "userid": userid },
            success: function (data) {

                if (data == "Session Time out") {
                    window.location.href = "@(Url.Action("TradeLogin", "Trade"))";
                    return;
                }
                forgotpasswordsuccess(data);
                
                $("#loading").css("display", "none");
                //$("#txtUserId").text = "";
                window.location.href = "@(Url.Action("ForgotPasswordIndex", "Trade"))";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 401) {
                    window.location.href = "@(Url.Action("TradeLogin", "Trade"))";
            }
                $("#loading").css("display", "none");
                window.location.href = "@(Url.Action("ForgotPasswordIndex", "Trade"))";
            }

        });

}

    function forgotpasswordsuccess(data) {
      
    //$("#txtUserId").val() = "";
    alert(data);
}
</script>

