@model IdealMall.Models.ShoppingListPublic
@{
    
    Layout = null;
    List<IdealMall.Entities.LocalShop> shopDetails = (List<IdealMall.Entities.LocalShop>)(ViewData["LocalShops"]);
    List<int> shops = Model.shoppingList.Select(sid => sid.ShopId).Distinct().ToList();
    
    
}

<style>
    *
    {
        font-size:small !important;
    }
    tr td
    {   
        font-size:x-small !important;
    }
    
</style>
<script language="javascript">
function ClearShoppingList()
{
var result = window.confirm("Are you sure to clear the Shopping list?");
if (result)
{
    $.ajax({
    cache: false,
    async: false,
    type: "POST",
    url: "@Url.Action("ClearShoppingList", "Public")",
    data: {id: "1" },
    success: function (data) {
            if (data == "true")
            {
                window.location.href = window.location.href;
            }
            else
            {   
                alert("Error deleting Shopping List");
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert("Error deleting Shopping List");
          }
      });
   }

}
</script>   


<div>
   

   <table width="100%" >
    
         <tr style="background-color:Green;font-size:medium !important;color: White;">
            <td width="86%" ><b>My Shopping List</b></td>
            <td width="14%" align="left"><b>£@Model.shoppingList.Sum(m => m.Total)</b></td>
         </tr>
    </table>
</div>  
        
    @for (int ShopCnt = 0; ShopCnt < shops.Count; ShopCnt++)
    {

        List<IdealMall.Entities.ShoppingList> products = Model.shoppingList.Where(m1 => m1.ShopId == shops[ShopCnt]).ToList();
    
        <div  width="100%" data-role="collapsible" data-collapsed="true" style="background-color:White">
            <h1>
                <table width="100%" >
                    <tr>
                        <td width="86.5%"> <b style="position:relative;top:auto">@(shopDetails[ShopCnt].Name)</b></td>
                        <td width="13.5%" align="left"><b>£@products.Sum(m => m.Total)</b></td>
                    </tr>
                </table>
            </h1>            <p>
                <table width="100%">
                    @for (int kartCnt = 0; kartCnt < products.Count(); kartCnt++)
                    {
                      <tr>
                            <td width="46%" style=" text-align:left; font-weight:bold;">@products[kartCnt].Product
                            </td>
                            <td width="13.5%"><u>@(products[kartCnt].Qty)(pcs)</u>
                            </td>
                            <td width="13.5%">£@products[kartCnt].OfferRate
                            </td>
                            <td width="13.5%">@products[kartCnt].VAT %
                            </td>
                            <td width="13.5%">£@products[kartCnt].Total
                            </td>
                        </tr>
                    }
                </table>
            </p>
        </div>
    }
    <div>
<table style=" width:100%">
  <tr  align="left">

            <td align="right" style=" width:100%">
            <a class="mobrestsStatusOpen" title="Clear My Shopping List" onclick="ClearShoppingList()" style=" background-color:rgb(193,0,0); color:White;  font-size:x-small ; width:200px; font-weight:normal "  >Clear My Shopping List
            </a>
            </td>            
        </tr>
</table>
</div>
 