@{
    Layout = null;
       
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.0/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.nicescroll.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.colorbox-min.js")"></script>
<script type="text/javascript">

    function Checkout() {
        if ($("#Mainphonenumber").val() == "") {
            alert("Please enter Home Telephone");
            return "false";
        }
        if ($("#MobileNumber").val() == "") {
            alert("Please enter Mobile Number");
            return "false";
        }
        var result = window.confirm("Are you sure to collect the products?");
        if (result) {
            $("#checkoutstatus").val("success");
            $("#hdnMainphonenumber").val($("#Mainphonenumber").val());
            $("#hdnMobileNumber").val($("#MobileNumber").val());
            $("#hdndtvalue").val($("#dtvalue").val());
            $("#hdnhourvalue").val($("#hourvalue").val());
            $("#hdnminutevalue").val($("#minutevalue").val());
            $.colorbox.close();
        }

    }

</script>
@{
    <style type="text/css">
        #Collectinstore
        {
            width: 755px;
        }

            #Collectinstore .formbox
            {
                margin: 10px;
            }

            #Collectinstore .loginform, #Collectinstore .registerform
            {
                width: 39%;
            }

            #Collectinstore .loginform
            {
                margin-right: 10px;
            }

            #Collectinstore .ortxt
            {
                margin-right: 10px;
            }

            #Collectinstore .txtbox input
            {
                width: 265px;
            }

            #Collectinstore .sbmtbtn .submitbtn
            {
                margin-bottom: 16px;
                margin-left: 6px;
                margin-top: 15px;
                padding: 6px 74px;
            }

            #Collectinstore .sbmtbtn
            {
                margin: 0 auto;
                width: 206px;
            }
    </style>
    
    <div style="display: none;">
        <div id="Collectinstore">
            <div class="formbox clearfix">
                <div id="logfrm" class="loginform">
                    <h1 style="font-weight: bold">Collect in Store</h1>
                    <p>Your contact details</p>
                    <div style="font-weight: bold">
                        Home Telephone
                    </div>
                    <br />
                    <div class="txtbox">
                        <input type="text" id="Mainphonenumber" value="" />
                    </div>
                    <div style="font-weight: bold">
                        Mobile Number
                    </div>
                    <br />
                    <div class="txtbox">
                        <input id="MobileNumber" value="" />
                    </div>
                </div>
                <div class="ortxt"></div>

                <div class="registerform">
                    <h1 style="font-weight: bold">Your Collection Details</h1>
                    <div style="font-weight: bold">Convenient Collection Date</div>
                    <br />
                    <div>
                        <select id="dtvalue" style="width: 125px; visibility: visible;">
                            <option value = @DateTime.UtcNow.ToString("dd/MMM/yyyy")>@DateTime.UtcNow.ToString("dd/MMM/yyyy")</option>
                            <option value = @DateTime.UtcNow.AddDays(1).ToString("dd/MMM/yyyy")>@DateTime.UtcNow.AddDays(1).ToString("dd/MMM/yyyy")</option>
                            <option value = @DateTime.UtcNow.AddDays(2).ToString("dd/MMM/yyyy")>@DateTime.UtcNow.AddDays(2).ToString("dd/MMM/yyyy")</option>
                        </select>
                    </div>
                    <br />
                    <div style="font-weight: bold">Convenient Collection Time</div>
                    <br />
                    <div style="font-weight: bold">
                        Hour &nbsp;&nbsp;
                        <select id="hourvalue" style="width: 50px; visibility: visible;">

                            @for (int i = 1; i <= 24; i++)
                            {
                                string istring;
                                if (i < 10)
                                {
                                    istring = "0" + i.ToString();
                                }
                                else
                                {
                                    istring = i.ToString();
                                }
                                if (i == DateTime.UtcNow.Hour)
                                {
                                <option selected="selected" value=@istring >@istring </option>
                                }
                                else
                                {
                                <option Value=@istring >@istring </option>
                                }
                            }

                        </select>
                        Minute &nbsp; &nbsp;
                        <select id="minutevalue" style="width: 50px; visibility: visible;">

                            @for (int i = 0; i <= 59; i++)
                            {
                                //{
                                //    if (i != DateTime.UtcNow.Minute)
                                //    {
                                string istring;
                                if (i < 10)
                                {
                                    istring = "0" + i.ToString();
                                }
                                else
                                {
                                    istring = i.ToString();
                                }
                                if (i == DateTime.UtcNow.AddMinutes(30).Minute)
                                {
                                <option selected="selected" value=@istring >@istring </option>
                                }
                                else
                                {
                                <option Value=@istring >@istring </option>
                                }

                            }

                        </select>
                    </div>

                    <div class="sbmtbtn clearfix" style="align-content: center; align-self: flex-end">
                        <input type="submit" onclick="javascript: Checkout();" value="Checkout" class="submitbtn" />
                    </div>

                </div>

            </div>
            <div>Please confirm your age</div>
            <div>You have ordered some alcohol or other restricted items in your basket, as this is the first time you have purchased</div>
            <div>these itesm with us, you need to collect the items personally.</div>
        </div>


    </div>
    <input id="hdnMainphonenumber" type="hidden" value="" />
    <input id="hdnMobileNumber" type="hidden" value="" />
    <input id="hdndtvalue" type="hidden" value="" />
    <input id="hdnhourvalue" type="hidden" value="" />
    <input id="hdnminutevalue" type="hidden" value="" />
    <input id="checkoutstatus" type="hidden" value="failure" />
}