@model IEnumerable<IdealMall.Entities.ShoppingList>
@{
    Layout = null;

    List<IdealMall.Entities.CashandCarryShop> shopDetails = (List<IdealMall.Entities.CashandCarryShop>)(ViewData["CashAndCarryShops"]);
    IdealMall.Entities.CashandCarryShop shopDetail = shopDetails.Where(m1 => m1.ID == Model.FirstOrDefault().ShopId).FirstOrDefault();
    
}
<style type="text/css">
    /*****MyShopping List newly added*****/
    .shoptitle
    {
        text-align: center;
        margin-top: 24px;
        color: #ce0b10;
        font-size: 22px;
        font-weight: bold;
    }

    .myshoppinglist
    {
        margin: 0 auto;
    }

    .tradeshopall
    {
        text-align: center;
    }

    .myshoppinglist table
    {
        margin-bottom: 15px;
    }

    .myshoppinglist td, .myshoppinglist th
    {
        border: 1px solid #ce0b10;
        padding: 5px;
        text-align: left;
    }

    .myshoppinglist th
    {
        background: #ce0b10;
        color: #fff;
    }

    .myshoppinglist tr:nth-child(2n+1)
    {
        background: #ffeeef;
    }

    .myshoppinglist tr.totaltr, .myshoppinglist tr.headingrow, .myshoppinglist tr.headingrow th
    {
        background: none;
    }

    .myshoppinglist tr .totalval, .myshoppinglist tr .totaltxt
    {
        background: #ce0b10;
        color: #fff;
        font-weight: bold;
        border: 1px solid #ffb1b6;
    }

    .myshoppinglist tr .grandtot
    {
        text-align: right;
        width: 85%;
        font-weight: bold;
        border: none;
    }

    .myshoppinglist tr .grandtotalval
    {
        background: #ce0b10;
        color: #fff;
        font-weight: bold;
        border: 1px solid #ce0b10;
    }

    .myshoppinglist tr.headingrow th
    {
        color: #333;
    }

        .myshoppinglist tr.headingrow th span
        {
            position: relative;
            bottom: 7px;
            font-size: 17px;
        }
</style>
<table cellpadding="0" cellspacing="0" width="100%">
    <tr class="headingrow">
        <th colspan="6" style="border: 1px solid #ce0b10; padding: 5px; text-align: left;"><a href="javascript:void(0);">
            <img src="@Url.Content(shopDetail.ImgUrl)" border="0" alt="company1"></a>
            <span>@Url.Content(shopDetail.Name)</span></th>
    </tr>

    @for (int kartCnt = 0; kartCnt <= Model.Count(); kartCnt++)
    {
        <tr>
            @if (kartCnt == 0)
            {
                <th width="10%" style="background: #ce0b10; color: #fff; padding: 5px;">@(kartCnt == 0 ?
                            new MvcHtmlString("S.No") :
                            new MvcHtmlString(kartCnt.ToString()))
                </th>
                <th width="45%" style="background: #ce0b10; color: #fff; padding: 5px;">@(kartCnt == 0 ?
                            Html.LabelFor(m => m.FirstOrDefault().Product) :
                            Html.DisplayFor(m => m.ElementAt(kartCnt - 1).Product))
                   
                </th>
                <th width="10%" style="background: #ce0b10; color: #fff; padding: 5px;">@(kartCnt == 0 ?
                            Html.LabelFor(m => m.FirstOrDefault().Qty) :
                            Html.DisplayFor(m => m.ElementAt(kartCnt - 1).Qty))
                </th>
                <th width="10%" style="text-align: right; background: #ce0b10; color: #fff; padding: 5px;">@(kartCnt == 0 ?
                            Html.LabelFor(m => m.FirstOrDefault().OfferRate) :
                            Html.DisplayFor(m => m.ElementAt(kartCnt - 1).OfferRate))
                </th>
                <th width="10%" style="text-align: right; background: #ce0b10; color: #fff; padding: 5px;">@(kartCnt == 0 ?
                            Html.LabelFor(m => m.FirstOrDefault().VAT) :
                            Html.DisplayFor(m => m.ElementAt(kartCnt - 1).VAT))%
                </th>
                <th width="15%" style="text-align: right; background: #ce0b10; color: #fff; padding: 5px;">@(kartCnt == 0 ?
                            Html.LabelFor(m => m.FirstOrDefault().Total) :
                            Html.DisplayFor(m => m.ElementAt(kartCnt - 1).Total))
                </th>
            }
            else
            {
                <td width="10%" style="border: 1px solid #ce0b10; padding: 5px; text-align: left;">@(kartCnt == 0 ?
                                new MvcHtmlString("S.No") :
                                new MvcHtmlString(kartCnt.ToString()))
                </td>
                <td width="45%" style="border: 1px solid #ce0b10; padding: 5px; text-align: left;">@(kartCnt == 0 ?
                                Html.LabelFor(m => m.FirstOrDefault().Product) :
                                Html.DisplayFor(m => m.ElementAt(kartCnt - 1).Product))
                    <br /><b class="red">
                    @(kartCnt == 0 ?
                                Html.LabelFor(m => m.FirstOrDefault().Additional_Info) :
                                Html.DisplayFor(m => m.ElementAt(kartCnt - 1).Additional_Info))</b>
                </td>
                <td width="10%" style="border: 1px solid #ce0b10; padding: 5px; text-align: right;">@(kartCnt == 0 ?
                                Html.LabelFor(m => m.FirstOrDefault().Qty) :
                                Html.DisplayFor(m => m.ElementAt(kartCnt - 1).Qty))
                </td>
                <td width="10%" style="border: 1px solid #ce0b10; padding: 5px; text-align: right;">@(kartCnt == 0 ?
                                Html.LabelFor(m => m.FirstOrDefault().OfferRate) :
                                Html.DisplayFor(m => m.ElementAt(kartCnt - 1).OfferRate))
                </td>
                <td width="10%" style="border: 1px solid #ce0b10; padding: 5px; text-align: right;">@(kartCnt == 0 ?
                                Html.LabelFor(m => m.FirstOrDefault().VAT) :
                                Html.DisplayFor(m => m.ElementAt(kartCnt - 1).VAT))%
                </td>
                <td width="15%" style="border: 1px solid #ce0b10; padding: 5px; text-align: right;">@(kartCnt == 0 ?
                                Html.LabelFor(m => m.FirstOrDefault().Total) :
                                Html.DisplayFor(m => m.ElementAt(kartCnt - 1).Total))
                </td>
            }
        </tr>
    }

    <tr>
        <td colspan="6"></td>
    </tr>
    <tr class="totaltr">
        <td colspan="4"></td>
        <td class="totaltxt" style="background: #ce0b10; color: #fff; font-weight: bold; border: 1px solid #ffb1b6; text-align: right;">Total</td>
        <td class="totalval" style="background: #ce0b10; color: #fff; font-weight: bold; border: 1px solid #ffb1b6; text-align: right;">£ @Model.Sum(m => m.Total)</td>
    </tr>
</table>

